$colorWhite: #fff;
$colorBlack: #000;
$colorGrey: #666;
$colorLightGrey: #999;
$colorDarkGrey: #333;
$colorGreen: #4ab020;
$colorLightGreen: #99c71f;
$colorDarkGreen: #648300;
$colorRed: #b01e1e;
$colorLightRed: #ce7f7f;
$colorDarkRed: #881616;

@font-face{
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

//Змінні
$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;

$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: #{$maxWidthContainer + 12} + 'px';
$md2: '991.98px';
$md3: '767.98px';
$md4: '479.98px';

// .main-slider {
// 	display: none;
// }
//Адаптивное свойство

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

html,
body {
	height: 100%;
}

body {
	color: $mainColor;
	font-size: 16px;
	font-family: 'Gilroy';
	font-weight: 400;
	line-height: 1.25;
}

body._lock {
	overflow: hidden;
}

* {
	outline: none;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
	line-height: 1;
	margin: 0;
}

img {
	vertical-align: top;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: none;

	&:hover {
		text-decoration: none;
	}
}

ul,
ol {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

button {
	outline: none;
	border: none;
	background-color: transparent;

	&:focus {
		outline: none;
	}
}

[class^="icon-"],
[class*=" icon-"] {
	position: relative;
	vertical-align: middle;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	&__main-slider {
	}
	&__advantages {
	}
	&__products {
	}
}

.slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, 48px);
	column-gap: 8px;
}

.slider-arrow {
	border-radius: 50%;
	height: 48px;
	background-color:  rgba(232, 159, 113, 0.3);
	color: $orangeColor;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
    &_prev {
		transform: rotate(90deg);
    }
    &_next {
		transform: rotate(-90deg);
    }    
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color:  rgba(232, 159, 113, 1);
		}
	}
	&_white {
		box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
		background-color: #fff;
		@media (any-hover: hover) {
			&:hover {
				background-color: $orangeColor;
				color: #fff;
			}
		}
	}
}

.swiper-pagination-bullets {
	display: flex;
	flex-wrap: wrap;
}
.swiper-pagination-bullet {
	cursor: pointer;
	flex: 0 0 27px;
	height: 27px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px 0px;
	&:not(:last-child) {
		margin-right: 12px;
	}
	&::after {
		content: '';
		width: 11px;
		height: 11px;
		background-color: #d8d8d8;
		border-radius: 50%;
		transition: background-color 0.3s ease 0s;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid $orangeColor;
		transition: transform 0.3s ease 0s;
		transform: scale(0);
	}
}
.swiper-pagination-bullet-active {
	&::after {
		background-color: $orangeColor;
	}
	&::before {
		transform: scale(1);
	}
}

._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

._title {
	@include adaptiv-value("font-size", 40, 24, 1);
	font-weight: 700;
	line-height: 120%;
	text-align: center;
}